name: CD - Docker Publish

on:
  push:
    branches: ["main"]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Docker Buildx for multi-stage builds
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            docker.io/theertha301995/test-hh-docker:latest
            docker.io/theertha301995/test-hh-docker:${{ github.sha }}
          cache-from: type=registry,ref=docker.io/theertha301995/hh-docker:latest
          cache-to: type=registry,ref=docker.io/theertha301995/hh-docker:latest,mode=max
